.layout {
    width: auto;
    height: auto;
    display: grid;
    grid:
        "header header header" auto
        "leftSide body rightSide" 1fr
        "footer footer footer" auto
        / 300px 3fr 1fr;
    }
header {
    grid-area: header;
}
footer {
    color: white;
    background-color: black;
    grid-area: footer;
}
.leftSide {
    text-align: center;
    background-color: white;
    grid-area: leftSide;
    padding-left: auto;
    padding-right: 100px;
}
.body {
    grid-area: body;
}
.rightSide {
    text-align: center;
    background-color: white;
    grid-area: rightSide;
    padding-left: auto;
    padding-right: auto;
    /* margin: 20px; */
}
.card_property {
    text-align: center;
    padding: 25px 40px;
    margin-top: 15px; /*Remove, its example*/
    margin-bottom: 15px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.select_period {
    text-align: center;
}