.card_property {
    text-align: center;
    padding: 25px 40px;
    margin-top: 15px; /*Remove, its example*/
    margin-bottom: 15px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#select_date {
    text-align: center;
}

.goal_and_diff{
    padding: 20px;
}

